.App {
  display: flex;
  height: 100%;
  width: 100%;

}

.sidebar{
  background: #4974ff;
  width: 50px;
  height: 100%;
}
ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h2{
  font-weight: 600;
}

.note-item{
  background: #4974ff;
  margin: 5px;
  padding: 10px 30px;
  /* border-radius: 12px; */
  display: flex;
  max-width: 30%;
  min-width: 15%;
  align-items: center;
  justify-content: space-between;
}


form{
  flex-wrap: wrap;
  position: fixed;
  width: 300px;
  background: rgb(40, 47, 61);
  display: flex;
  position: relative;
  padding: 0 20px;
  flex-direction: column;

}

form > input, textarea{
  border: 0;
  border-bottom: 2px solid rgb(39, 125, 255);
  background: rgb(40, 47, 61);
  color: white;
  margin-bottom: 10px;
  outline: 0;
  padding: 10px;
  font-weight: bold;
  font-family: sans-serif;
  
}

form > textarea{
  height: 300px;
  font-weight: normal;
  max-width: 100%;
}

button{
  border: 0;
  background: rgb(73, 116, 255);
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 12px;
}

h6{
  display: flex;
}

p{
  margin: 4px;
  padding: 3px 6px;
  background: white;
  color: rgb(73, 116, 255);
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}

.addnote-btn{
  border-radius: 50%;
  border: 0;
  background: rgb(73, 116, 255);
  color: white;
  width: 50px;
  height: 50px;
  font-size: 1.8em;
  font-weight: bold;
  position: fixed;
  bottom: 30px;
  left: 80px;
  cursor: pointer;
}

.tag-bar{
  display: flex;
}

header{
  display: flex;
  justify-content: space-between;
}

.add-note-hover{
  background: transparent;
  border: 2px dashed white;
  opacity: 50%;
  width: 250px;
}
.add-note-hover:hover{
  opacity: 100%;
  cursor: pointer;
}

main{
  padding: 10px 24px;
}